body{
    margin:0;
    padding:0;
    background:white;
    background-position: fixed;
}
.toparea{
    background:#A64E49;
    padding-top:10px;
    color:white;
    text-align:center;
}
.logoarea{
    padding:34px 0;
    color:#74353F;
    background:#F2C38B;
    text-align:center;
}
    .logoarea img{
        height:110px;
    }
    .logoarea h1{
        text-shadow: 2px 8px 6px #0003,0 -5px 16px #FFFFFF4D;
    }
    .logoarea h4{
        color:black;
    }

.menuarea{
    text-align: center;
    background:rgb(160, 255, 160);
    padding:0px;
}
    .ap{
        padding-left: 200px;
    }
    .ap1{
        padding-left:80px;
    }

.noticearea{
    text-align: center;
    padding:50px 0px;
}
    .a1{
        text-align:center;
        padding:30px 0px;
        float:left;
        position:relative;
    }
        .a11{
            float:left;
            width:70px;
            box-shadow: 0 1px #bdbdbd, 0 2px #fff, 0 3px #bdbdbd, 0 4px #fff, 0 5px #bdbdbd, 0 0 0 1px #bdbdbd;
            border-radius: 10px;
        }
        .a11 p{
            font-size: 10px;
            font-weight: 50px;
            padding:7px 0;
            width:70px;
            margin:0;
            background:#FD9F1B;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .a11 h5{
            background:rgb(255, 255, 255);
            margin:0;
            padding:10px 0;
            width:70px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .a11 hr{
            margin:0;
            border-top: 1px dashed #F37302;
        }
    .a12{
        float:left;
        padding-left:150px;
    }
    .a12 i{
        padding-left:350px;
        font-size: 40px;
        color: #CC4B4C;
    }
    .a12 a:visited,a:hover,a:link{
        text-decoration: none;
        color:black;
    }
    .a13{
        height:2px;
        width:100%;
        background-image: linear-gradient(to right,transparent, rgb(55, 2, 2), transparent);
        position:relative;
        top:100px;
    }
.footerarea{
    padding:50px 0px;
    background:#202020;
}
    .footerarea h4{
        border-left:solid 5px white;
        padding:0 10px;
        color: white;
    }
    .footerarea p{
        color:#F2C38B;
    }
    .footerarea a:hover{
        color:#F2C38B;
        text-decoration: none;
    }
    .footerarea ul{
        list-style-type: none;
        color:#D36F35;
        padding:2px 0;
    }
    .footerarea ul li a{
        color:#D36F35;
    }
    .footerarea ul li{
        transition:all 1s;
        padding:3px 0px;
    }
    .footerarea ul li:hover{
        transform: translateX(8px);
    }
    .footerarea ul li a:hover{
        color:#D36F35;
    }
    #des{
        text-align:center;
        padding-top: 20px;
    }
    a{
        color:#D36F35;
    }
    #des a:hover{
        color:#D36F35;
        text-decoration: none;
    }
    #a11{
        height:1px;
        width:100%;
        background-image: linear-gradient(to left,transparent,#DBDBDB,transparent);
    }